.comments-txt{
    border-bottom: black 1px solid;
    text-align: center;
    margin-left: auto;
}
.reply-input{
    padding-top: 50px;
    width: 100%;
}
#outlined-basic{

    width: 100%;
}
.detailed-date{
    text-align: right;
    margin-left: 80%;
   margin-bottom: -30px;
}